body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0d0d;
    background-image: url('/static/space.jpg');
    background-size: cover;
    color: #00ff00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ff00;
    width: 450px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

textarea, input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

textarea[readonly] {
    background-color: #333;
    color: #ccc;
    border: 1px solid #555;
}

button {
    background-color: #00ff00;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #009900;
    color: white;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
